<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/site")
</head>
<body class="row p-0 m-0">
    <div class="content col-12">
        <header class="bg-light text-white row p-2">
            <div class="col-md-6 text-center">
                <div class="btn btn-outline-success index_page">@Html.ActionLink("Главная", "Index", "Home")</div>
                <div class="btn btn-outline-success login_page">@Html.ActionLink("Вход", "Login", "Home")</div>
                <div class="btn btn-outline-success news_page">@Html.ActionLink("Новости", "News", "Home")</div>
                <div class="btn btn-outline-success profile_page">@Html.ActionLink("Профиль", "Profile", "Home")</div>
            </div>
            <div class="col-md-6">
                <div class="row mb-2">
                    <div class="col-12 text-right p-2"><span class="bg-success p-2 rounded" id="login_on"></span></div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 text-right"> <button class="btn btn-primary" id="login_off" onclick="login_off();" style="display:none;">Выйти</button></div>
                </div>
            </div>
        </header>
        <main class="row content-main justify-content-center align-items-center">
            @RenderBody()
        </main>
        <footer class="bg-light row text-white text-center">
            <div class="col-12 text-center p-2">
                <div class="btn btn-outline-success index_page">@Html.ActionLink("Главная", "Index", "Home")</div>
                <div class="btn btn-outline-success login_page">@Html.ActionLink("Вход", "Login", "Home")</div>
                <div class="btn btn-outline-success news_page">@Html.ActionLink("Новости", "News", "Home")</div>
                <div class="btn btn-outline-success profile_page">@Html.ActionLink("Профиль", "Profile", "Home")</div>
            </div>
        </footer>
    </div>
</body>
</html>
